.contenedorprincipal{
    padding-bottom: 10%;
}

#fotox{
    padding-top: 20%;
    width: 444px;
    height: 605px;
    
}

#contenedorderecha{
    padding-top: 6%;
}

#O{
    padding-left: 17%;

}

.botones{
   width: 35%; 
   
    
}

.letrasabajo{
    font-size: 14px; 
}

.iniciasesion{
    padding-left: 20%;
}

#OO{
    padding-left: 50%;
}

.botonesemergentes{
    width: 50%;
}

.notienescuenta{
   padding-left: 26%;
}